/* 基础设置 */
.container{
    width: 1190px;
    margin: 0 auto;
}
/* #region顶部导航条开始 */

.topbar{
    height: 30px;
    background-color: #ECECEC;
}
.welcome{
    line-height: 30px;
    height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span,a{
    font-size: 12px;
} 
.welcome span:first-child{
    margin-right: 28px;
}
 .welcome .login{
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register{
    padding-left: 10px;
}
.topbar-nav .list li{
    float: left;
    height: 30px;
    line-height: 30px;
}
.topbar-nav .list li a{
    border-right: 1px solid #666;
    padding-right: 15px;
    padding-left: 15px;
}
.topbar-nav .list li:first-child a{
    padding-left: 0;
}
.topbar-nav .list li:last-child a{
    padding-right: 0;
    border: 0;
}
/* #endregion顶部导航条结束 */

/* #region头部开始 */
.header{
    height: 120px;
}
.header .search form{
    margin-top: 42px;
    font-size: 0;

}
.header input{
    width: 508px;
    height: 34px;
    border: 1px solid #DD302D;
}
.header button{
    height: 36px;
    width: 80px;
    background-color: #DD302D;
    vertical-align: top;
    background-image: url(../images/serch_icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
/* #endregion头部结束 */

/* #region主导航区 */   

.main-nav{
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.main-nav .all-types{
    width: 190px;
    height: 48px;
    line-height: 48px;
    background-color: #DD302D;
    text-align: center;
    color: white;
    font-size: 16px;
}
.main-nav-list li{
    float: left;
    height: 48px;
    line-height: 48px;
    margin: 0 10px;
    font-size: 16px;
}
/* #endregion主导航区 */

/* #region内容区导航 */
.main-content{
    margin-top: 10px;
}
.slide-nav {
    height: 458px;
    width: 190px;
    background-color: #F4F4F4;
    position: relative;
}
.slide-nav li{
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.slide-nav li:hover{
    background-color: #DD302D;
    color: white;
}
.slide-nav li:hover>a{
    color: white;
}
.second-menu{
    width: 680px;
    height: 458px;
    background-color:white;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.slide-nav li:hover .second-menu{
    display: block;
}
.second-menu dl{
    height: 36px;
}
.second-menu dl:first-child{
    margin-top: 10px;
}
.second-menu dt{
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd{
    float: left;
}
.second-menu dd a{
    padding: 0 10px;
    border-left: 1px solid #666;
}
.banner {
    height: 458px;
    width: 690px;
    margin: 0 10px;
}


.slide-other {
    height: 458px;
    width: 290px;
}
.slide-other .message{
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    margin-bottom: 10px;
    padding: 0 14px;
}
.message .title{
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.message .title span{
    font-size: 14px;
}
.message .title a{
    font-size: 12px;
}
.message .msg-list li{
    height: 26px;
    line-height: 26px;
}
.slide-other .other-nav{
    height: 290px;
    width: 290px;
    overflow: hidden;
}
.other-nav ul li{
    height: 70px;
    width: 48px;
    float: left;
    margin: 0 11px;
    text-align: center;
    cursor: pointer;
}
.other-nav ul:first-child{
    margin-top: 16px;
}
.other-nav ul:nth-child(2){
    margin: 17px 0;
}
.other-nav ul li:first-child{
    margin-left: 16px;
}
.pic{
    background-image: url(../images/精灵图-侧边功能.png);
    width: 48px;
    height: 48px;
}
.other-nav ul:nth-child(1) li:nth-child(2) .pic{
    background-position: -48px 0;
}
.other-nav ul:nth-child(1) li:nth-child(3) .pic{
    background-position: -96px 0;
}
.other-nav ul:nth-child(1) li:nth-child(4) .pic{
    background-position: -144px 0;
}
.other-nav ul:nth-child(2) li:nth-child(1) .pic{
    background-position: 0 48px;
}
.other-nav ul:nth-child(2) li:nth-child(2) .pic{
    background-position: -48px 48px;
}
.other-nav ul:nth-child(2) li:nth-child(3) .pic{
    background-position: -96px 48px;
}
.other-nav ul:nth-child(2) li:nth-child(4) .pic{
    background-position: -144px 48px;
}
.other-nav ul:nth-child(3) li:nth-child(1) .pic{
    background-position: 0 96px;
}
.other-nav ul:nth-child(3) li:nth-child(2) .pic{
    background-position: -48px 96px;
}
.other-nav ul:nth-child(3) li:nth-child(3) .pic{
    background-position: -96px 96px;
}
.other-nav ul:nth-child(3) li:nth-child(4) .pic{
    background-position: -144px 96px;
}
/* #endregion内容区导航 */

/* #region秒杀区 */

.seckill img{
    float: left;
    margin-right: 11px;
    cursor: pointer;
    
}
.seckill img:last-child{
    margin-right: 0;
}
/* #endregion 秒杀区 */

/* #region楼层开始 */

.floor{
    margin-top: 48px;
}
.floor-nav{
    height: 30px;
    padding-bottom: 4px;
    border-bottom: 2px solid #DD302D;
    line-height: 30px;
}
.floor-nav span{
    font-size: 20px;
}
.floor-nav-list li{
   float: left;
   font-size: 14px;
}
.floor-nav-list li a{
    padding: 0 10px;
    border-right: 1px solid #666;
}
.floor-nav-list li:first-child a{
    padding-left: 0;
}
.floor-nav-list li:last-child a{
    padding-right: 0;
    border: 0;
}
.floor-info .item{
    float: left;
}
.floor-info .info-item1{
    width: 190px;
    height: 392px;
    background-color: #F4F4F4;
    padding: 20px;
}
.item1-list{
        margin-bottom: 30px;
}
.item1-list li{
    width: 90px;
    height: 22px;
    padding-bottom: 3.5px;
    border-bottom: 1px solid #D9D9D9;
    font-size: 16px;
    text-align: center;
}
.item1-list li:nth-child(2n+1){
    float: left;
}
.item1-list li:nth-child(2n){
    float: right;
}
.item1-list li:nth-child(3),
.item1-list li:nth-child(4){
    margin: 14px 0;

}
.floor-info .info-item2{
  width: 340px;
    height: 432px;
}
.floor-info .info-item3{
      width: 206px;
    height: 432px;
}
.floor-info .info-item3 img,
.floor-info .info-item4 img,
.floor-info .info-item5 img{
    border-bottom: 1px solid #D9D9D9;
}
.floor-info .info-item4{
      width: 206px;
    height: 432px;
    border-right: 1px solid #ECECEC;
    border-left: 1px solid #ECECEC;
}
.floor-info .info-item5{
      width: 206px;
    height: 432px;
}
/* #endregion楼层结束 */

/* #region底部开始 */

.footer{
    height: 440px;
    background-color: #483E3e
}
.links-list{
    float: left;
    width: 190px;
    height: 176px;
    margin-top: 48px;
    margin-right: 10px;
}
.links-list:last-child{
    margin-right: 0;
}
.links-list a{
    color: white;
    font-size: 14px;
}
.line{
    height: 1px;
    margin-top: 22px;
    background-color: #584D4D;
}
.bottom-links{
    text-align: center;
    margin-top: 47px;
}
.bottom-links-list{
    display: inline-block;
}
.bottom-links-list li{
    float: left;
}
.bottom-links-list li a{
    padding: 0 26px;
    border-right: 1px solid white;
    color: white;
}
.bottom-links-list li:first-child a{
    padding-left: 0;
}
.bottom-links-list li:last-child a{
    padding-right: 0;
    border: 0;
}
.copyright{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 20px;
}
/* #endregion底部结束 */